<title>About Us</title>
{% extends 'base.html' %} {% block content %} {% load static %}
<head>
  <link rel="stylesheet" href="{% static 'css/about.css' %}" />
</head>
<body>
  <header>
    <nav></nav>
  </header>
  <main>
    <section>
      <h1>About Us</h1>
      <p>
        At BicycleRenting, we are passionate about helping people explore their
        surroundings in a fun, healthy, and eco-friendly way. Our goal is to
        provide high-quality bicycles and equipment to people of all ages and
        skill levels so that they can enjoy the great outdoors on two wheels.
      </p>
      <p>
        Our team is made up of experienced cyclists who are knowledgeable about
        the latest trends and technologies in the cycling industry. We are
        committed to providing excellent customer service and helping our
        clients choose the right equipment for their needs.
      </p>
      <p>
        Whether you are a seasoned pro or just getting started, we have the
        perfect bike for you. Contact us today to learn more about our rental
        options and start planning your next adventure!
      </p>
    </section>
  </main>
  <footer>
    <!-- Add your footer content here -->
  </footer>
</body>
{% endblock %}
